@font-face {
  font-family: 'PF Din Text Comp Pro - X Black Italic';
  src: url('../fonts/PFDinTextCompPro-XBlackItal.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Comp Pro - Medium Italic';
  src: url('../fonts/PFDinTextCompPro-MedItal.ttf');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

nav {
  margin: auto;
}

ul {
  list-style: none;
  display: flex;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom: -400px;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.capture {
  transform: matrix(8, 0, 0, 8, 0, 0);
  transition: .6s;
}

.choose {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.question {
  width: 711px;
  color: #ffffff;
  font-family: "PF Din Text Comp Pro - X Black Italic";
  font-size: 39px;
  font-weight: 900;
  line-height: 53px;
  text-transform: uppercase;
  position: absolute;
  bottom: 200px;
  z-index: 400;
  display: flex;
  margin: auto;
  bottom: -300px;
  font-size: 35px;
  opacity: 0;
}

.menu {
  position: absolute;
  color: white;
  width: 100%;
  justify-content: space-between;
  z-index: 400;
  display: flex;
  margin: auto;
  bottom: -300px;
  color: #ffffff;
  font-family: "PF Din Text Comp Pro - Medium Italic";
  font-size: 0;
  font-weight: 500;
  line-height: 59px;
  text-transform: uppercase;
}

.menu li {
  margin-right: 40px;
  position: relative;
  padding-right: 40px;
  height: 0;
  z-index: 1000;
}

.menu li::after {
  position: absolute;
  content: '';
  height: 100%;
  transform: rotate(35deg);
  background: grey;
  width: 3px;
}

.goUp {
  transition: .8s;
  opacity: 0.7;
  bottom: 280px;
}

.goUp2 {
  transition: .8s;
  opacity: 1;
  bottom: 150px;
}

.noScroll {
  overflow: hidden;
}

.fontSazeActivator {
  height: auto;
  font-size: 75px;
}

.hoverCircle {
  position: absolute;
  left: 48%;
  top: 41%;
  display: none;
  height: 10px;
  width: 10px;
  background: #e11f1d;
  border-radius: 100%;
  z-index: 0;
}

.menu a {
  display: block;
  position: relative;
}

.menu a span {
  z-index: 100;
  display: block;
  position: relative;
}

#disign a:hover, #safety a:hover, #price a:hover, #functional a:hover {
  transform: scale(1.2, 1.2);
  transition: .3s;
}

.smoothlyOn {
  transform: scale(1, 1);
  transition: .3s;
}

.menu a:hover .hoverCircle {
  display: block;
  transform: scale(10, 10);
  transition: .3s;
}
.lines::before
{
  position: absolute;
  content: '';
  width: 2px;
  top:-35px;
  height: 240%;
  transform: rotate(15deg);
  background: #282129;
  right:-32px;
}
